html,
body {
    width: 100%;
    max-width: 640px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
h1 {
    font-size: rem(32);
}

// layout
//
.view-container.sidebar-in {
  .header {
    transform: translateX(rem(400));
    transition: $transition;
  }
  .navbar {
    transform: translateX(0);
    transition: $transition;
  }
}
.view-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .header,
  .footer {
    position: relative;
    width: 100%;
    flex: 0 0 rem(100);
    line-height: rem(100);
    background: #333;
    color: #fff;
  }
  .header {
    transform: translateX(0);
    transition: $transition;
  }
  .header .menu {
    position: absolute;
    left: rem(20);
    top: rem(20);
    width: rem(100);
    height: rem(60);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAdCAYAAADGgB7AAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAMElEQVRYw+3VQQEAIAzEMIZ/z4cMYEsU9NdKkvWgfTvguzAApikT7xIGwDQm3ibsAMwPDARxOsH2AAAAAElFTkSuQmCC') no-repeat center;
    background-size: rem(38) auto;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .navbar {
    position: fixed;
    display: flex;
    transform: translateX(rem(-400));
    transition: 500ms;
    transition: transform(0);
    top: 0;
    width: rem(400);
    height: 100%;
    background: #333;
    z-index: 10;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .navbar.show-nav {
    left: 0;
    transform: translateX(0);
    transition: 500ms;
  }

  .container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: rem(100);
  }
}
