$em-base: 640px / 10;
$max-width: rem(640);
$header-height: rem(110);

// 字体
$font-family: "Univers Condensed", "PingFang SC", "Helvetica Nenu", Helvetica, sans-serif;
$font-family2: "PingFang SC", "Helvetica Nenu", Helvetica,sans-serif;

// 最高 z-in
$max-zindex: 1000;

// color
$color-red: #c72b2f;
$color-link: #1c7bc4;

$transition: 500ms;
